html, body {
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

.bg-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    transform: translateZ(0);
    will-change: transform;
}



.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}